aiofiles
aiohttp
asgiref
dnspython
ffmpeg-python
future
gitpython
googletrans
heroku3
motor
pillow
psutil
pyrogram==2.0.106
pyromod~=1.5
py-tgcalls==0.9.7
pyro-listener
python-dotenv
pytz
requests
speedtest-cli
tgcrypto
wget
youtube-search
youtube-search-python
yt-dlp
redis
lyricsgenius